import(methods)
export(render)
export(irt_model)
export(irt_scale)
export(predefined_scale)
export(load_scale)
export(save_scale)
export(add_dataset)
export(scale_from_dataset)
S3method(render, irt_model)
export(irt_item)
importFrom(magrittr, "%>%")
